[submodule "web-platform-tests"]
	path = web-platform-tests
	url = https://github.com/kristijanburnik/web-platform-tests
	branch = mixed-content
[submodule "web-insects"]
	path = web-insects
	url = https://github.com/kristijanburnik/web-insects.git
